.tokens-grid {
  width: 100%;
  font-family: sans-serif;
  color: #FFFFFF;
  border-collapse: collapse;
}

.tokens-grid thead th {
  padding: 0.75rem 1rem;
  text-align: left;
}

.tokens-grid tbody td {
  padding: 0.75rem 1rem;
  color: #CCCCCC;
}

.tokens-grid tbody td:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tokens-grid tbody td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tokens-grid tbody tr:nth-child(even) td {
  background: #484848;
}
